@import '../../sass/global.scss';

.wrapper {
    margin-top: 40px;
    padding-bottom: 40px;

    @include respond(phone) {
        margin-top: 0;
    }

    :global(.navMargin .boxhead) {
        padding-bottom: 40px;

        @include respond(phone) {
            padding-bottom: 12px;
        }
    }
}

.item {
    margin-top: 3.4rem;
    background: #f7f7f7;
    border: 1px solid #f5f5f5;
    @include display-flex();
    @include box-align(center);

    @include respond(tab-port) {
        display: block;
    }
}

.info {
    width: calc(100% - 56.4rem);
    margin-right: 6.4rem;
    padding: 4.5rem;
    box-sizing: border-box;

    @include respond(tab-port) {
        width: calc(100% - 41.4rem);
    }

    @include respond(tab-port) {
        margin-right: 3rem;
        width: calc(100% - 28rem);
        padding: 2.1rem;
    }

    @include respond(tab-port) {
        width: 100%;
        margin-right: 0;
    }

    h2 {
        font-size: 2.7rem;
    }

    a {
        display: inline-block;
        margin-top: 2.4rem;
    }
}

.subtitle {
    margin-top: 1.2rem;

    :global(.bsP) {    
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
        line-height: 2;      
        max-height: 2;   
    }
}

.pic {
    width: 50rem;
    overflow: hidden;

    @include respond(tab-port) {
        width: 35rem;
    }

    @include respond(mobile) {
        width: 25rem;
    }

    @include respond(tab-port) {
        width: 100%;
        margin-right: 0;
    }

    img {
        transition: .3s all ease !important;
    }

    &:hover {
        img {
            @include transform(scale(1.05));
        }
    }
}