@import '../sass/global.scss';

.header {
    height: 100vh;
    @include display-flex();    
    @include box-align(center);
    overflow: hidden;
    position: relative;
}

.infoWrapper {
    width: 60%;
    
    :global(.container) {
        position: absolute;
        left: 0; right: 0;
        top: 30%;
    }

    h1 {
        font-size: 5rem;
        color: #000;
        mix-blend-mode: difference;
    }

    a {
        margin-top: 3.7rem;
        display: inline-block;
    }
}

.box {
    max-width: 60rem;
}

.graphic {
    width: 40%;
    height: 60vh;
    overflow: hidden;
    background: url('../images/polerowanie-felg-aluminium-polerowanieal-big.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &__overlay {
        width: 100%;
        // height: 100%;
        background: rgba($color: #000000, $alpha: .3);
    }
}