@import '../../sass/global.scss';

.wrapper {
    margin-top: 14vh;
    @include display-flex();
    margin-bottom: 12vh;
    
    @include respond(tab-port) {
        display: block;
        margin-top: 0;
        margin-bottom: var(--p-2);
    }
}

.info {
    width: calc(100% - 550px);
    margin-right: 50px;

    :global(.boxhead) {
        margin-bottom: 4.7rem;
    }

    @include respond(tab-port) {
        width: 100%;
        margin-right: 0;
    }

    &__row {
        margin-bottom: 3.4rem;

        span {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--color-secondary);
            padding-bottom: 1.4rem;
        }

        svg, a {
            @include transition(.3s all ease);
        }

        a {
            font-size: 2.1rem;

            &:hover {
                color: var(--color-primary);

                svg {
                    fill: var(--color-primary);
                }
            }
        }
    }

    &__socials {
        a {
            margin-right: 1.3rem;
        }
    }
}

.map {
    width: 500px;

    @include respond(tab-port) {
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}

.pic {
    display: none;
    margin-top: 17vh;

    img {
        width: 100%;
    }
}