.header {
    height: 100vh;
    background: url('../images/polerowanie-wibracyjne-aluminium-felgi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}