@import '../sass/global.scss';

.header {
    // height: 70vh;
    @include display-flex();    
    @include box-align(center);
    overflow: hidden;
    position: relative;
    background: url('../images/polerowanie-felg-aluminium-polerowanieal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.overlay {
    width: 100%; height: 100%;
    // background: url('../images/shadow3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background: rgba($color: #000000, $alpha: .7);
}

.heading {
    padding-top: 22vh;
    padding-bottom: 12vh;
    max-width: 55rem;

    @include respond(phone) {
        padding-top: 13rem;
        padding-bottom: 4rem;
    }

    h1 {
        color: #fff;
        font-size: 4.5rem;

        @include respond(phone) {
            font-size: 2.5rem;
        }

        span {
            width: 70%;
            display: block;
            font-size: 1.55rem;
            line-height: 1.7;
            font-weight: 500;
            padding-top: 1.7rem;
        }
    }

    .actions {
        margin-top: 3.1rem;

        :global(.btnPrimary) {
            margin-right: 1.2rem;
        }
    }
    
    a {
        display: inline-block;

        @include respond(phone) {
            display: block;
            width: 22rem;
            text-align: center;
            margin-bottom: 1.4rem;
        }
    }
}

.bottomBar {
    border-top: 1px solid #444;
    background: url('../images/shadow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    :global(.container) {
        padding-top: 3.1rem;
        padding-bottom: 3.1rem;
    }

    ul {
        @include display-flex();
        @include box-align(center);
        @include flex-justify-content(space-between);

        @include respond(mobile) {
            display: block;
        }  

        li {
            @include display-flex();
            @include box-align(center);  

            @include respond(mobile) {
                &:not(:first-of-type) {
                    margin-top: 2.1rem;
                }
            }

            svg, svg g {
                width: 3rem;
                height: auto;
                fill: var(--color-primary);
            }
            
            div {
                margin-left: 1.5rem;
            }

            span {
                display: block;
                font-size: 1.3rem;
                color: var(--color-secondary);
                padding-bottom: 5px;
            }

            a {
                font-size: 1.4rem;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}

.infoWrapper {
    width: 60%;
    
    :global(.container) {
        position: absolute;
        left: 0; right: 0;
        top: 30%;
    }

    h1 {
        font-size: 5rem;
        color: #000;
        mix-blend-mode: difference;
    }

    a {
        margin-top: 3.7rem;
        display: inline-block;
    }
}

.box {
    max-width: 60rem;
}

.graphic {
    width: 40%;
    height: 60vh;
    overflow: hidden;
    background: url('../images/polerowanie-felg-aluminium-polerowanieal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &__overlay {
        width: 100%;
        // height: 100%;
        background: rgba($color: #000000, $alpha: .3);
    }
}

.intro {
    p {
        max-width: 70rem;
        margin: auto;
    }
}

.qualityLabel {
    background: url('../images/polerowanieal-dewiza-jakosc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    &__overlay {
        width: 100%; height: 100%;
        padding-top: 12rem; padding-bottom: 12rem;
        background: rgba($color: #000000, $alpha: .8);

        @include respond(mobile) {
            padding-top: 9rem; padding-bottom: 10rem;
        }
    }

    :global(.boxhead) {
        h2 {
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 600;
            color: #fff;
        
            @include respond(mobile) {
                font-size: 2.4rem;
            }
        }
    }

    a {
        color: #fff;
    }
}

.trust {
    padding-bottom: 10rem;
    border-bottom: 1px solid #eee;

    @include respond(tab-port) {
        padding-bottom: 5.7rem;
    }
    
    :global(.container) {
        @include display-flex();
        @include box-align(center);

        @include respond(tab-land) {
            @include box-align(center);
        }

        @include respond(tab-port) {
            display: block;
            margin-top: -5rem;
        }
    }

    &__pic {
        width: 60rem;

        @include respond(tab-land) {
            width: 47rem;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__desc {
        width: calc(100% - 65rem);
        margin-left: 5rem;

        @include respond(tab-land) {
            width: calc(100% - 50rem);
            margin-left: 3rem;
        }

        @include respond(tab-port) {
            width: 100%;
            margin-left: 0;
            margin-top: var(--p-2);
        }

        :global(.boxhead) {
            h2 {
                font-size: 2.8rem;

                @include respond(phone) {
                    font-size: 2rem;
                }
            }
        }
    }
}

.offersCarousel {
    margin-top: -4rem;
    margin-bottom: -1.5rem;
}

.bottom {
    a {
        margin: auto;
    }
}