@import '../../sass/global.scss';

.tab {
    border-collapse: collapse;

    @include respond(mobile) {
        margin-left: calc(var(--p-2) * -1);
        width: calc(var(--p-2) * 2 + 100%) !important;
    }

    thead {
        tr {
            background: #333;
        }

        th {
            border: 1px solid #555;

            &:first-of-type {
                padding-left: 35px;

                @include respond(mobile) {
                    padding-left: var(--p-2);
                }
            }

            &:nth-child(2) {
                text-align: center;
            }

            text-transform: uppercase;
            font-weight: 500;
            color: #fff;

            @include respond(mobile) {
                font-size: 1.3rem;
            }
        }
    }

    td, th {
        text-align: left;
        padding: 23px 15px;

        @include respond(mobile) {
            padding: 14px 10px;
        }
    }

    tbody {

        tr {
            background: #fafafa;

            &:nth-child(even) {
                background: #fff;
            }
        }

        td {
            border: 1px solid #f2f2f2;

            &:first-child {
                padding-left: 35px;
            
                @include respond(mobile) {
                    padding-left: var(--p-2);

                    font-size: 1.35rem;
                }
            }
        }
    }

    .name {
        font-size: 1.55rem;
        font-weight: 400;
    }

    .quantity {
        @include respond(mobile) {
            width: 10px;
            font-size: 1.2rem;
        }
    }

    .price {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;

        @include respond(mobile) {
            font-size: 1.3rem;
        }
    }
}