@import '../../sass/global.scss';

.bar {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 50px;
}

.actions {
    @include display-flex();
    @include flex-justify-content(space-between);

    @include respond(phone) {
        display: block;
    }

    a {
        display: inline-block;

        @include respond(phone) {
            display: block;
            width: 25rem;
            margin-bottom: 2.1rem;
            text-align: center;
        }
    }
}