@import '../../sass/global.scss';

.bar {
    position: fixed;
    top: 0; right: 0; left: 0;
    padding-bottom: 1.6rem;
    padding-top: 1.5rem;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    z-index: 10;

    :global(.container) {
        @include display-flex();
        @include box-align(center);
        @include flex-justify-content(space-between);
    }
}

.list {

    @include respond(mobile) {
        background: #fff;
        position: absolute;
        width: 100%;
        top: 60px;
        left: -110%;
        padding-left: var(--p-2);
        padding-right: var(--p-2);
        z-index: 8;
        border-top: 1px solid #f2f2f2;
        padding-bottom: var(--p-2);
        // padding-top: var(--p-2);
    }

    ul {
        li {
            display: inline-block;

            @include respond(mobile) {
                display: block;
            }

            &:not(:first-child) {
                margin-left: 3.4rem;
                
                @include respond(mobile) {
                    margin-left: 0;
                }
            }

            a {
                // color: var(--color-secondary);
                font-weight: 500;
                @include transition(.2s color ease);

                &:hover {
                    color: var(--color-primary);
                }

                @include respond(mobile) {
                    display: block;
                    margin-top: var(--p-2);
                    text-align: center;
                    border: 1px solid #f2f2f2;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                }
            }
        }
    }

    &__contact {

        @include respond(mobile) {
            margin-top: var(--p-2);
        }

        a {
            display: inline-block;
            font-weight: 600 !important;
            color: #fff !important;

            @include respond(mobile) {
                display: block;
                text-align: center;
                padding-top: 17px !important;
                padding-bottom: 17px !important;
            }
        }
    }

    &__active {
        left: 0;
    }
}

.mobileIcon {
    display: none;
    background: rgba(0,0,0,0.05);
    border-radius: 7px;
    padding: 9px 14px;
    font-size: 1.4rem;
    font-weight: 500;

    @include respond(mobile) {
        display: block;
    }
}

.top {
    border-bottom: 1px solid var(--border-primary);
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: 1.6rem;
    
    > :global(.container) {
        @include display-flex();    
        @include box-align(center);
        @include flex-justify-content(space-between);
    }
}

.contact {
    ul {
        @include display-flex();    
        @include box-align(center);

        li {
            @include display-flex();    
            @include box-align(center);

            &:not(:first-child) {
                margin-left: 3.1rem;
            }

            &:first-child {
                svg {
                    width: 12px;
                }
            }

            svg {
                width: 13px;
                height: auto;
                margin-right: .8rem;
                fill: #616161;

                g {
                    fill: #616161;
                }
            }

            span {  
                font-size: 1.25rem;
                color: #777;
            }

            &:last-child {
                span {
                    margin-top: -3px;
                }
            }
        }
    }
}

.socials {
    margin-bottom: -3px;

    ul {
        li {
            display: inline-block;

            svg {
                height: auto;
            }
            
            &:first-child {
                svg {
                    width: 1.3rem;
                }
            }

            &:last-child {
                margin-left: 1.7rem;

                svg {
                    width: 1.2rem;
                }
            }
        }
    }
}

.logo {
    img {
        height: 2.5rem;
        width: auto;
    }
}