@import '../../sass/global.scss';

.grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

    @include respond(mobile) {
        display: block;
    }
}

.item {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
        height: 100%;
        transition: .5s all ease !important;
    }

    &:hover {
        .overlay {
            background: rgba($color: #000000, $alpha: .6) !important;
        }

        .box {
            bottom: 3rem;
        }

        button {
            opacity: 1;
        }

        img {
            @include transform(scale(1.05));
        }
    }
}

.overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url('../../images/shadow3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @include transition(.7s all ease);
}

.box {
    position: absolute;
    left: 2rem; right: 2rem;
    bottom: -3rem;
    @include transition(.6s all ease);

    h2 {
        font-size: 2.7rem;
        font-weight: 600;
        color: #fff;
    }

    .subtitle {
        margin-top: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; 
        line-height: 1;      
        max-height: 1;  
        
        p {
            color: #ddd;
        }
    }    

    button {
        opacity: 0;
        margin-top: 1.7rem;
        display: inline-block;
        @include transition(.8s all ease);
    }
}

.showMoreBtn {
    margin-top: 2.5rem;
    padding: 2.5rem 2.1rem !important;
    display: block;
    text-align: center;
}